
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/homepage">JobPortal</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" >
            
            <ul class="nav navbar-nav">
                <li><a href="/homepage"><span class="glyphicon glyphicon-home"> </span>Home</a></li>
                <li><a href="/postajob" ng-if = "userType == 'Employer'">Post Jobs</a></li>
                <li><a href="/searchJobs" ng-if ="userType == 'JobSeeker'">Search Jobs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>

        <!--/.nav-collapse -->
    </div>
</nav>