<my-nav></my-nav>
<br>
<br>
<br>
<form>  
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
   <input type="text" class="form-control" placeholder="Search" name="searchkey" ng-model="key"/>
   <div class="input-group-btn">
        <button class="btn btn-primary" ng-click="search()">
        <span class="glyphicon glyphicon-search"></span>
        </button>
   </div>
   </div>
    </div>
  </div>
<div>
    <table class="table" style="width:600px"> 
    <thead class=""thead-inverse"">
        <tr>
		<th>Job Title
		</th>
		<th>Job Description
		</th>
		<th>Job Location
		</th>
    </tr>
    </thead>
<tbody>
	<tr ng-repeat="job in jobs" ng-if="jobs.length !=0">
		<td>
          {{job.jobTitle}}
        </td>
        <td>
          {{job.jobDesc}}
        </td>
        <td>
          {{job.jobLoc}}
		</td>
    </tr>
</tbody>
</table>
</div>   
</form>
